{% extends '@admin/layout.twig' %}

{% block title "Editer l'article " %}

{% block body %}

    <h1>Editer l'article {{ item.name }}</h1>

    <form action="{{ path('blog.admin.edit',{id:item.id}) }}" method="POST">
        {% include'@blog/admin/form.twig' %}
       <button class="btn btn-primary" type="submit">Editer</button>
    </form>

{% endblock %}