{% extends 'layout.twig' %}

{% block title "mes articles" %}

{% block body %}

<h1>Bienvenue sur le blog</h1>

<ul>
    <li><a href="{{ path('blog.show',{slug:'aze-a5ze6aez-zae'}) }}">Article 1</a></li>
    <li>article-2</li>
    <li>article-3</li>
    <li>article-4</li>
    <li>article-5</li>
    <li>article-6</li>
</ul>
{% endblock %}
